<!DOCTYPE html>
<html>
  <head>
    <title>Movies Recommendation System</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body style='background-color:black;'>
    <nav class="navbar" style='background-color:#00a65a;'>
      <p class="navbar-brand">My Movies Recommender</p>
      <ul class="nav navbar-nav">
        <li><a>Home</a></li>
        <li><a>Recommend</a></li>
        <li><a>Contact</a></li>
      </ul>
    </nav>
  </body>
</html>